{% extends 'core/base.html' %}

{% block title %}
{{ii.name}}
{% endblock title %}

{% block content %}
    <div class="grid grid-cols-5 gap-6">
        <div class="col-span-2">
            <img src="{{ii.image.url}}" class="rounded-xl"  >
        </div>  
        <div class="col-span-3 p-6 bg-gray-100 rounded-xl">
            <h1 class="mb-6 text-3xl">{{ii.name}}</h1>
            <p class="text-gray-500"> <strong>Price:</strong> {{ii.price}} </p>
            <p class="text-gray-500"> <strong>seller:</strong> {{ii.createdBy}} </p>
            {% if ii.description %}
            <p class="text-gray-900">
                <strong class="text-gray-500" >
                    Description:
                </strong>
                {{ii.description}}
            </p>
            {% endif %}
            {% if request.user == ii.createdBy %}
                <div class="mt-6 p-6 bg-white rounded-xl">
                    <p class="mb-4">This Is Your Item</p>
                    <a href="{% url 'items:delete' ii.id %}" class="px-6 py-3  text-lg bg-red-600 text-white rounded-md  front-semibold hover:bg-red-700 " > Delete  </a>
                    <a href="{% url 'items:edit' ii.id %}" class="px-6 py-3 mx-4 text-lg bg-teal-600 text-white rounded-md  front-semibold hover:bg-teal-700 " > Edit  </a>
                </div>
            {% endif %}
            <a href="" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white hover:bg-teal-700 rounded-xl"> Contact Seller </a>
        </div>
    </div>
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-cl">
        <h2 class="mb-12 text-2xl text-center">Related Items </h2>
        <div class="grid grid-cols-3 gap-3">
            {% for items in ri  %}
            <div>
                <a href="{% url 'items:detail' items.id %}">
                    <div>
                        <img src="{{items.image.url}}" class="rounded-t-xl w-[440px] h-[400px] hover:scale-110 transition ">
                    </div>
                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl">{{items.name}}</h2>
                        <p class="text-gray-400">price:{{items.price}}</p>
                    </div> 
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock  %}